@charset "UTF-8";
@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: montserrat;
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300; }
@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway-Medium.ttf");
  font-weight: 500; }
@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway-ExtraBold.ttf");
  font-weight: 800; }
@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway-SemiBold.ttf");
  font-weight: 600; }
/* line 26, style.scss */
.container {
  width: 1920px;
  margin: 0 auto; }

/* line 30, style.scss */
header {
  width: 100%;
  height: 1024px;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 35px;
  padding-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 45, style.scss */
.nav {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 375px;
  -ms-flex-item-align: start;
      align-self: flex-start; }
  /* line 52, style.scss */
  .nav__logo {
    width: 181px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    margin-right: 219px; }
    /* line 59, style.scss */
    .nav__logo svg {
      fill: #ffffff; }
    /* line 62, style.scss */
    .nav__logo span {
      font-family: raleway, arial;
      font-weight: 400;
      font-size: 34px;
      letter-spacing: -1.36px;
      color: #ffffff; }
  /* line 71, style.scss */
  .nav__logo:hover svg {
    fill: #c7b299; }
  /* line 74, style.scss */
  .nav__logo:hover span {
    color: #c7b299; }
  /* line 78, style.scss */
  .nav__bar {
    width: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 64px; }
  /* line 84, style.scss */
  .nav__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: montserrat, arial;
    font-weight: 300; }
  /* line 91, style.scss */
  .nav__link:hover {
    color: #c7b299; }
  /* line 94, style.scss */
  .nav__bucket {
    fill: #ffffff;
    margin-right: 27px; }
  /* line 99, style.scss */
  .nav__search input[type="search"] {
    width: 24px;
    height: 24px;
    outline: none;
    /* Для синий ободки */
    border: 0;
    background: transparent;
    background-image: url("../img/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none; }
  /* line 111, style.scss */
  .nav__search input[type="search"]:focus {
    background-color: #fff;
    border-radius: 10px;
    padding-left: 7px;
    width: 200px;
    -webkit-transition: width 1s ease-out;
    transition: width 1s ease-out;
    background-position: right; }

/* line 121, style.scss */
.carousel {
  width: 1620px;
  height: 608px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto; }
  /* line 127, style.scss */
  .carousel__button {
    width: 40px;
    height: 73px;
    outline: none;
    /* Для синий ободки */
    border: 0;
    background: transparent;
    margin-top: 92px; }
  /* line 135, style.scss */
  .carousel .button-left {
    fill: #9e9d9b; }
  /* line 138, style.scss */
  .carousel .button-right {
    fill: #d3c1ad; }
  /* line 141, style.scss */
  .carousel .button-left:hover {
    fill: white; }
  /* line 144, style.scss */
  .carousel .button-right:hover {
    fill: white; }
  /* line 147, style.scss */
  .carousel .button-left:active {
    fill: #000000; }
  /* line 150, style.scss */
  .carousel .button-right:active {
    fill: #000000; }
  /* line 153, style.scss */
  .carousel__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 158, style.scss */
  .carousel__get_started {
    width: 170px;
    height: 53px;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0 -3px 0 #736357;
            box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    border: none;
    color: #ffffff;
    font-family: "raleway";
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    outline: none;
    margin-bottom: 327px; }
  /* line 174, style.scss */
  .carousel__get_started:hover {
    background-color: #73685E; }
  /* line 177, style.scss */
  .carousel__get_started:active {
    background-color: #111111;
    -webkit-box-shadow: inset 0 -3px 0 #000000;
            box-shadow: inset 0 -3px 0 #000000; }
  /* line 181, style.scss */
  .carousel__tittle_1 {
    color: #ffffff;
    font-family: raleway;
    font-size: 36px;
    font-weight: 500;
    display: block; }
  /* line 188, style.scss */
  .carousel__tittle_2 {
    color: #ffffff;
    font-family: "raleway";
    font-size: 52px;
    font-weight: 800;
    display: block; }
  /* line 195, style.scss */
  .carousel__descr {
    width: 570px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-bottom: 53px; }
  /* line 205, style.scss */
  .carousel__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 102px;
    height: 15px; }
  /* line 212, style.scss */
  .carousel__link {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 50%;
    background-clip: content-box; }
    /* line 220, style.scss */
    .carousel__link:hover {
      border: 2px solid #d3c1ad;
      background-color: transparent; }

/* line 226, style.scss */
main {
  width: 100%; }

/* line 229, style.scss */
.cons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 372px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  /* line 235, style.scss */
  .cons__item {
    width: 268px;
    height: 215px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    margin-right: 33px;
    position: relative; }
  /* line 245, style.scss */
  .cons__item:before {
    content: "";
    position: absolute;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    left: 98px;
    top: 212px; }
  /* line 254, style.scss */
  .cons__item:nth-child(2) {
    width: 271px; }
  /* line 257, style.scss */
  .cons__item:nth-child(4) {
    margin-right: 0; }
  /* line 260, style.scss */
  .cons__icon {
    fill: #555555; }
  /* line 263, style.scss */
  .cons__title {
    color: #555555;
    font-family: "raleway";
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0; }
  /* line 270, style.scss */
  .cons__text {
    color: #8c8c8c;
    font-family: montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center; }
  /* line 279, style.scss */
  .cons__item:hover .cons__icon {
    fill: #c7b299; }
  /* line 282, style.scss */
  .cons__item:hover .cons__title {
    color: #c7b299; }
  /* line 285, style.scss */
  .cons__item:hover .cons__text {
    color: #c7b299; }
  /* line 288, style.scss */
  .cons__item:hover:before {
    background-color: #c7b299; }

/* line 294, style.scss */
.ideas {
  background-color: #fbfaf8;
  height: 700px;
  position: relative;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  /* line 300, style.scss */
  .ideas__title {
    margin-top: 0;
    margin-bottom: 15px; }
  /* line 304, style.scss */
  .ideas__sub-title {
    width: 769px;
    margin: 0 auto; }
  /* line 308, style.scss */
  .ideas__pic {
    position: absolute; }
@-webkit-keyframes anim-left {
  from {
    left: 347px; }
  to {
    left: 0px; } }
@keyframes anim-left {
  from {
    left: 347px; }
  to {
    left: 0px; } }
@-webkit-keyframes anim-right {
  from {
    right: 344px; }
  to {
    right: 0px; } }
@keyframes anim-right {
  from {
    right: 344px; }
  to {
    right: 0px; } }
    /* line 326, style.scss */
    .ideas__pic:nth-child(3) {
      top: 300px;
      left: 347px;
      z-index: 1;
      -webkit-transition: 1s;
      transition: 1s; }
      /* line 331, style.scss */
      .ideas__pic:nth-child(3):hover {
        -webkit-transform: translateX(-347px);
                transform: translateX(-347px);
        -webkit-transition: 1s;
        transition: 1s; }
    /* line 336, style.scss */
    .ideas__pic:nth-child(4) {
      top: 218px;
      left: 575px;
      z-index: 2;
      -webkit-transition: 1s;
      transition: 1s;
      -webkit-backface-visibility: hidden;
      /* Chrome, Safari, Opera */
      backface-visibility: hidden; }
      /* line 343, style.scss */
      .ideas__pic:nth-child(4):hover {
        -webkit-transition: 1s;
        transition: 1s;
        -webkit-transform: scale(1.3);
                transform: scale(1.3);
        -webkit-backface-visibility: hidden;
        /* Chrome, Safari, Opera */
        backface-visibility: hidden; }
    /* line 350, style.scss */
    .ideas__pic:nth-child(5) {
      top: 300px;
      right: 344px;
      z-index: 1;
      -webkit-transition: 1s;
      transition: 1s; }
      /* line 355, style.scss */
      .ideas__pic:nth-child(5):hover {
        -webkit-transform: translateX(344px);
                transform: translateX(344px);
        -webkit-transition: 1s;
        transition: 1s; }

/* line 362, style.scss */
.word-press {
  height: 150px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 45px 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  /* line 371, style.scss */
  .word-press__title {
    margin: 0;
    color: #ffffff;
    font-family: raleway;
    font-size: 28px;
    font-weight: 400; }
    /* line 377, style.scss */
    .word-press__title .first-word {
      color: #c7b299; }
  /* line 381, style.scss */
  .word-press__sub-title {
    margin: 0;
    color: #615855;
    font-family: montserrat;
    font-size: 18px;
    font-weight: 300; }
  /* line 388, style.scss */
  .word-press__button {
    margin: 0;
    width: 170px;
    height: 50px;
    -webkit-box-shadow: inset 0 -3px 0 #736357;
            box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #ffffff;
    font-family: "raleway";
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
    outline: none;
    -webkit-transition: 1s;
    transition: 1s; }
    /* line 403, style.scss */
    .word-press__button:hover {
      background-color: #c7b299;
      -webkit-transition: 1s;
      transition: 1s;
      color: #211b19; }

/* line 410, style.scss */
.title-2 {
  color: #555555;
  font-family: "raleway";
  font-size: 30px;
  font-weight: 600;
  text-align: center; }

/* line 417, style.scss */
.sub-title-2 {
  color: #8c8c8c;
  font-family: montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */